body{
    font-family: Arial, Helvetica, sans-serif;
}


header{
    width: 100%;
    z-index: 1;
    position: fixed;

}
.nav {
    background-color: #fff;
    padding: 3px 5%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    color: #000;  
}
.nav1, .nav2, .nav3{
    width: 33.3%;
}
.nav a{
    text-decoration: none;
    color: #000;
}
.nav1 ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}
.nav1 ul li{
    margin-right: 30px;   
}
.nav ul li a{
    border: 1px solid transparent;
}
.nav ul li a:hover{
    color: #b8f0ff;
    transform: scale(1.5);
}
.nav2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;  
}
.nav3 ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.nav3 ul li{
    margin-left: 30px;
}





section{
    padding: 0px 8%;
    
}
.container{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    /* margin-top: 0; */
     
}
.col-left{
    padding-top:100px;
    padding-left: 2px;
    width: 25%;
    /* height: 700px; */
    /* background-color: cadetblue; */
    color: #000F08, 100%;
    display: flex;
    flex-direction: column;
}
.side-bar{
    display: flex;
    flex-direction: column;
}
.side-bar span{
    font-weight: 600;
    margin-bottom: 10px;
}
.side-bar a{
    margin-top: 15px;
    text-decoration: none;
    color: #000F08;
    font-size: 14px;
}





.filter-section{
    /* margin-top: 30px; */
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}
.filter-section span{
    font-size: 14px;
    /* font-weight: 600; */
    margin-bottom: 10px;
    color: #8C8C8C;
}
.filter-section a{
    margin-top: 15px;
    text-decoration: none;
    color: #000F08;
    font-size: 14px;
}

.sort a{
    text-decoration: none;
    color: #000F08;
}




.col-right{
    width: 75%;
    /* height: 700px; */
    /* background-color: coral; */
    padding: 100px 50px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-content: center; */

}
.product-item{
    width: 45%;
    height: 500px;
    /* background-color: cornsilk; */
    margin-bottom: 50px;
    text-align: center;
}
.product-item img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}
