body{
    font-family: Arial, Helvetica, sans-serif;
}




header{
    width: 100%;
    z-index: 1;
    position: fixed;

}
.nav {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    color: white;  
}
.nav1, .nav2, .nav3{
    width: 33.3%;
}
.nav a{
    text-decoration: none;
    color: #FFF;
}
.nav1 ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}
.nav1 ul li{
    margin-right: 30px;   
}
.nav ul li a{
    border: 1px solid transparent;
}
.nav ul li a:hover{
    color: #b8f0ff;
    transform: scale(1.5);
}
.nav2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;  
}
.nav3 ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.nav3 ul li{
    margin-left: 30px;
}




.category-section-1{
    background-image: url("../images/img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px 0px 150px 10%;    
}
.banner-text{
    width: 40%;
}
    .category-title{
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    line-height: 50px;
}
.category-description{
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    letter-spacing: 0.02em;
    line-height: 20px;
}
.button-link{
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    padding:2px 23px ;
    margin-top: 20px;
}
.button-link:hover{
    background-color: #fff;
    color: #000;
    font-size: 600;
}





.category-section-2{
    margin-top: 2px;
    background-image: url("../images/img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0px 350px 10%;
}






.product-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
}
.product-item{
    width: 100%;
    justify-content: space-between;
}
.product-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.product-list #item-1{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: auto;
    object-fit: cover;
}
.product-list #item-2{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.product-list #item-3{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}





.category-section-3{
    margin-top: 2px;
    background-image: url("../images/img-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0px 350px 10%;
}






.product-list-2{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    padding: 50px 8% 50px;
    background-color: white;
    
}
.product-list-row{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}
.product-list-row .product-item{
    height: auto;
}
.product-list-row .product-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-list-row .product-item img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out 0.0s;
}






.category-section-4{
    background-image: url("../images/img-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 450px 8% 100px 65%; 
}
.category-section-4 .banner-text{
    width: 100%;
}
.category-section-4 .button-link{
    padding:2px 10px ;
}






.category-section-5{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    padding: 50px 8% 50px;
}
.category-section-5 a{
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    margin-right: 10px;font-size: 14px;
}
.instagram-post-row{
    display: flex;
    margin: 20px 0px;
    width:100%;
}
.post-col-1{
    width: 50%;
    height: auto;
}
.post-col-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid black;
}
.post-col-2{
    width: 50%;
    height: auto;
}
.post-col-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid black;
}
.post-row-1{
    display: flex;
    height: auto;
}
.post-row-2{
    display: flex;
    height: auto;
}
.post-sm{
    width: 100%;
    height: auto;
}







footer{
    width: 100%;
}


.subscription-section{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.subscription-section span{
    font-size: 14px;
    font-weight: 600;
    line-height: 10px;
}
.mail-form{
    margin: 0px 30%;
    border-bottom: 1px solid #D8D8D8;
}
form{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.subscription-section input[type=text] {
    width: 80%;
    border: none;
    color: #8C8C8C;
    
}
.subscription-section button{
    width: 100px;
    border: none;
    background-color: transparent;
}
.subscription-section button:hover {
    background-color: lightblue;
}


.footer-row{
    margin-top: 30px;
    font-size: 12px;
    color: #000F08;
    display: flex;
    justify-content: space-between;
    padding: 30px 8%;
}
.footer-col{
    width: 22%;
    display: flex;
    flex-direction: column;
}
.footer-row span{
    font-size: 14px;
    font-weight: 600;
}
.footer-col-link{
    margin-top: 20px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.footer-col-link span{
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 15px;
}
.footer-col-link a{
    margin: 5px 0px;
    text-decoration: none;
    color: #000F08;
}
.footer-col-link a:hover{
    color: rgb(79, 149, 255);
}
.footer-col-link i{
    margin-right: 5px;
    font-size: 14px;
}
